@import "tailwindcss";

@theme {
  /* Nossa Paleta Azul Névoa + Areia */
  --color-nevoa-light: #C4D7E8;
  --color-nevoa: #9BB8D3;
  --color-nevoa-dark: #678BAA;
  
  --color-areia-light: #F3EFE9;
  --color-areia: #DCCCBC;
  
  --color-texto: #4A5E72;
}

body {
  background-color: var(--color-sand-50);
  color: var(--color-slate-900);
}